* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #ffffff;
  --text-secondary: #b5b5b5;
  --text-placeholder: #ffffffc8;

  --accent: #0a84ff;
  --surface: #181a1f;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 64px;

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 18px;
  --radius-xl: 24px;

  --color-bg-secondary: #1e1e20;
  --color-bg: #0f1115;
  --color-glass: rgba(255, 255, 255, 0.063);
  --color-glass-strong: rgba(255, 255, 255, 0.149);
  --color-nav: rgba(255, 255, 255, 0.16);
  --color-btn: rgba(255, 255, 255, 0.762);
  --color-border: rgba(255, 255, 255, 0.25);
  --color-input: rgba(255, 255, 255, 0.525);

  --blur-xxs: 4px;
  --blur-xs: 8px;
  --blur-sm: 12px;
  --blur-md: 18px;
  --blur-lg: 22px;
  --shadow-light: 0px 10px 30px rgba(249, 235, 235, 0.307);
  --shadow-soft: 0px 10px 30px rgba(0, 0, 0, 0.45);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  color: var(--text-primary);
  padding: var(--space-sm);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  position: relative;
  overflow: hidden;
}

nav {
  padding: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-nav);
  backdrop-filter: blur(var(--blur-sm));
  box-shadow: var(--shadow-soft);
  border-radius: var(--radius-lg);
  margin-bottom: var(--space-lg);
  position: sticky;
  top:0;
}

.btn {
  padding: var(--space-sm);
  border: none;
  background: var(--color-btn);
  border-radius: var(--radius-md);
  backdrop-filter: blur(var(--blur-sm));
  cursor: pointer;
  font-weight: 600;
  color: var(--surface);
}

.btn:hover {
  background: var(--accent);
  color: var(--text-primary);
}

.delete {
  background-color: crimson;
  color: var(--text-primary);
  align-self: flex-end;
  padding: var(--space-xs);
}

.delete:hover {
  scale: 1.05;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.board {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--space-lg);
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}

.task-col {
  display: flex;
  flex-direction: column;
  background: var(--color-glass);
  border: 1px solid var(--color-glass-strong);
  border-radius: var(--radius-lg);
  padding: var(--space-sm);
  box-shadow: var(--shadow-soft);
  backdrop-filter: blur(var(--blur-md));
  gap: var(--space-xs);
}

.hover-over {
  border: 2px dashed var(--text-primary);
  scale: 1.05;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.heading {
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}

.task {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  background: var(--color-glass);
  border: 1px solid var(--color-glass-strong);
  border-radius: var(--radius-lg);
  padding: var(--space-sm);
  box-shadow: var(--shadow-soft);
  backdrop-filter: blur(var(--blur-md));
  cursor: grab;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}

.task p {
  color: var(--text-secondary);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.active {
  display: flex;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(61, 61, 61, 0.404);
  backdrop-filter: blur(var(--blur-xxs));
}

.center {
  background-color: var(--color-bg-secondary);
  color: var(--text-primary);
  padding: var(--space-xl);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  z-index: 10;
}

.center .btn {
  width: fit-content;
  align-self: center;
  border: none;
  outline: none;
  background: var(--color-border);
  color: var(--text-placeholder);
}

.center .btn:hover {
  background: var(--accent);
  color: var(--text-primary);
}

input,
textarea {
  color: var(--text-primary);
  background: var(--color-input);
  border: 1px solid var(--color-glass-strong);
  border-radius: var(--radius-md);
  padding: var(--space-xs) var(--space-lg);
  margin: 0px var(--space-md);
  margin-left: 0;
  outline: none;
}

::placeholder {
  color: var(--text-placeholder);
}

.center-top {
  display: flex;
  justify-content: space-between;
  background: var(--color-glass);
  padding: var(--space-sm);
  border-radius: var(--radius-xs);
}

.center-top .cancel {
  background: crimson;
  color: var(--text-placeholder);
  padding: 0px 4px;
  border-radius: var(--radius-xs);
  font-size: var(--space-lg);
  border: none;
  outline: none;
  cursor: pointer;
}

.center-top .cancel:hover {
  scale: 1.2;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
